.container {
    width: 1000px;
}

.infoArea {
    width: 840px;
    padding-top: 50px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.pageControl {
    margin: auto;
    padding: auto;
}