.container{
    width: 1000px;
    display: block;
    .tickets {
        width: 840px;
        height: 580px;
        padding-top: 50px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
}



